* {
	-webkit-user-select: none;
}

section {
	margin: 0;
}

.client-photo {
	margin-right: 1%;
	border-radius: 50px;
	vertical-align: middle;
}

.client {
	padding-left: 1.2%
}

h2 {
	font-size: 180%;
	font-weight: 300;
	margin-bottom: 2%;
	word-spacing: 0.2%;
	text-align: center;
	letter-spacing: 1px;
	text-transform: uppercase;

}




input[type=checkbox] + label {
	cursor: pointer;

}

input[type=checkbox] {
	display: none;
}

input[type=checkbox] + label:before {
	content: "\2714";
	padding: 4px 8px;
	transition: 0.2s;
	color: transparent;
	border-radius: 3.2px;
	border: 2px solid #000;
}

input[type=checkbox]:checked + label:before {
	color: #000;
	border-color: #000;
	background-color: #999;
}

.table1 {
	margin: 1%;
}



/* Cars section*/
.fphoto {
	margin-left: 50px;
}

#btn1,
#btn2 {
	font-size: 20px;
	padding: 6px 10px;
	text-align: center;
	margin: 20px 497px;
	border-radius: 25px;
	border: 2px solid #666666;
}

figure {
	padding: 6px;
}

figcaption {
	text-align: center;
}

output {
	height: 30px;
	display: block;
	padding-top: 20px;
}

button {
	outline: none;
}

.pay {
	margin: 0;
	padding: 10px 0px;
	border-radius: 0px;
	background-color: #2f2f2f;

}


.img-space {
	float: right;
	position: relative;
}
